* {
  box-sizing: border-box;
  outline: none;
  font-family: "Inter", system-ui;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7F6FF;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 85px auto;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px;
  border-bottom: 1px solid #eaeaea;
}

.header__info h3, .header__info p {
  margin: 0;
}

.header__description {
  color: #9D9D9D;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left img {
  margin-right: 15px;
}

.header__right {
  display: flex;
}

.header__right li {
  margin-right: 32px;
  display: flex;
  align-items: center;
}

.header__right li:last-child {
  margin-right: 0;
}

.header__right li > img {
  margin-right: 8px;
}


/*  Content  */

.content {
  padding: 45px;
}

.content__top {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: space-between;
}

.sneakers {
  display: flex;
  gap: 40px;
}

.search-block {
  display: flex;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
}

.search__input {
  border: 0;
  padding: 13px;
  font-size: 14px;
  width: 250px;
}


/* Card */

.card {
  border: 1px solid #F3F3F3;
  padding: 30px;
  width: 220px;
  border-radius: 40px;
  transition: box-shadow 0.18s ease-in-out, transform 0.18s ease-in-out;
  /* position: relative; */
  /* margin-right: 40px; */
}

.card:hover {
  box-shadow: 0px 18px 30px 0px rgba(0, 0, 0, 0.06);
  transform: translateY(-5px);
}

.card p {
  font-weight: 400;
  font-size: 14px;
}

.card__favorite {
  position: absolute;
  cursor: pointer;
}

.card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__left {
  display: flex;
  flex-direction: column;
}

.card__left b {
  font-size: 14px;
}

.card__left span {
  opacity: 0.5;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.card__button {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;       /* <- сомнительно */
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

/* drawer and overlay */

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 385px;
  height: 100%;
  right: 0;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px 0px rgba(0, 0, 0, 0.10);
  padding: 30px;
}

.drawer h2 {
  margin: 0 0 30px 0;
  display: flex;
  justify-content: space-between;
}

.drawer h2 > img {
  cursor: pointer;
}

/* items and cart item */

.items {
  flex: 1;
  overflow: auto;
  margin-bottom: 40px;
}

.cart__item {
  display: flex;
  align-items: center;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 20px;
}

.cart__item-img {
  margin-right: 20px;
  margin-top: -15px;
}

.cart__item-name {
  margin-right: 15px;
}

.cart__item-name p {
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
}

.cart__item-name b {
  font-size: 14px;
}

.cart__item-remove {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out;
}

.cart__item-remove:hover {
  opacity: 1;
}


/* cart total block */

.cart__total-block ul {
  margin-bottom: 40px;
}

.cart__total-block li{
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.cart__total-block li > div {
  flex: 1;
  height: 1px;
  border-bottom: 1px dashed #dfdfdf;
  position: relative;
  top: -4px;
  margin: 0 7px;
}

.cart__total-block .green_button {
  position: relative;
}

.cart__total-block .green_button img {
  position: absolute;
  right: 30px;
  top: 20px;
  transition: transform 0.15s ease-in-out;
}

.cart__total-block .green_button:hover img {
  transform: translateX(5px);
}

/* green button */

.green_button {
  border: none;
  color: white;
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: filter 0.1s ease-in-out;
}

.green_button:hover {
  filter: brightness(1.04);
}

.green_button:active {
  filter: brightness(0.96);
}

